.chatlistWrap {
  display: flex;
  justify-content: center;

  .search {
    transition: .5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 0 auto;

    form {
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      input {
        font-size: 20px;
        width: 100%;
        padding: 2px 3px;
        background: none;
        border: none;
        color: wheat;
        outline: none;
        border-bottom: 1px solid gold;
        &::placeholder{
            color: gold;
        }
      }

      button{
          color: gold;
          font-size: 22px;
          background: none;
          border: none;
      }
    }

    .foundUser{
        width: 90%;
        margin: 0 auto;
        background: rgb(31, 31, 31);
        text-align: center;
        padding: 15px 0;
        border-radius: 10px;
        color: lightgreen;
        cursor: pointer;
    }
  }

  ul {
    height: 100vh;
    width: 650px;
    overflow: scroll;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;

    li {
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
      background: rgb(23, 23, 23);
      
      color: gold;
      font-size: 22px;
      padding: 1rem;

      .friendsUsername{
        color: rgb(105, 105, 105);
        font-size: 20px;
      }

      .circleIcon {
        width: 70px;
        height: 70px;
        box-shadow: 0 0 5px 1px lightgreen;
        background: rgb(23, 23, 23);
        border-radius: 50%;
      }

      &:hover {
        background-color: rgb(35, 35, 35);
      }
    }

    a:not(:last-child) li {
      border-bottom: 1px solid rgb(47, 47, 47);
    }

    a:nth-child(odd) li {
      color: lightgreen;
      .circleIcon {
        box-shadow: 0 0 5px 1px lightgreen;
      }
    }
    a:nth-child(even) li {
      color: gold;
      .circleIcon {
        box-shadow: 0 0 5px 1px gold;
      }
    }
  }
}

@media (max-width: 900px) {
  .chatlistWrap {
    width: 100%;
    ul {
      width: 100%;
      li {
        font-size: 18px;
        .circleIcon {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}
