.userWrap{
    width: 800px;
    height: 60vh;
    margin: 90px auto;
    border: 1px solid gold;
    border-radius: 30px;
    position: relative;
    background: rgba(47, 47, 47, 0.739);


    &::before{
        content: "";
        position: absolute;
        width: 200px;
        height: 200px;
        background: gold;
        border-radius: 50%;
        bottom: 20px;
        right: 50px;
        filter: blur(7px);
    }
    &::after{
        content: "";
        position: absolute;
        width: 100px;
        height: 100px;
        background: lightgreen;
        border-radius: 50%;
        bottom: 25px;
        right: 180px;
        filter: blur(7px);
    }

    .userCircle{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        color: gold;
        position: absolute;
        background: black;
        left: -75px;
        top: -75px;
        i{
            font-size: 150px;
        }
    }

    .dropSet{
        position: absolute;
        right: 30px;
        top: 10px;
        z-index: 10;
        i{
            color: gold;
            font-size: 25px;
            width: 35px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            border: 1px solid gold;
        }

        ul{
            border: 1px solid gold;
            position: absolute;
            width: 150px;
            left: -115px;
            z-index: 1;
            top: 35px;
            border-radius: 5px;
            display: none;
            background: black;
            a{
                color: gold;  
                display: block;
                padding: 10px 5px;
                &:hover{
                    background: gold;
                    color: black;
                }
            }
        }

        &:hover{
            ul{
                display: block;
            }
        }
    }


    .moreInfo{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        .usermeName{
            font-size: 35px;
            color: lightgreen;
            border: 1px solid gold;
            padding: 10px 5px;
            width: 95%;
            border-radius: 10px;
        }

        .telNum{
            font-size: 20px;
            color: gold;
            border: 1px solid lightgreen;
            padding: 10px 5px;
            width: 95%;
            border-radius: 10px;    
        }
        .nameme{
            font-size: 20px;
            color: gold;
            border: 1px solid lightgreen;
            padding: 10px 5px;
            width: 95%;
            border-radius: 10px;
        }
    }
}



@media(max-width:1024px){
    .userWrap{
        width: 550px;
        .userCircle{
            width: 120px;
            height: 120px;
            display: flex;
            justify-content: center;
            align-items: center;
            i{
                font-size: 120px;
            }
        }
    }
}

@media(max-width:700px){
    .userWrap{
        width: 300px;


        
    &::before{
        content: "";
        position: absolute;
        width: 100px;
        height: 100px;
        background: gold;
        border-radius: 50%;
        bottom: 20px;
        right: 50px;
        filter: blur(7px);
    }
    &::after{
        content: "";
        position: absolute;
        width: 50px;
        height: 50px;
        z-index: -1;
        background: lightgreen;
        border-radius: 50%;
        bottom: 25px;
        right: 180px;
        filter: blur(7px);
    }

        .userCircle{
            width: 100px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            left: 50%;
            top: 0;
            transform: translateX(-50%) translateY(-50%);
            i{
                font-size: 100px;
            }
        }

        .moreInfo{
            .usermeName{
                margin-top: 50px;
                font-size: 22px;
            }

            .telNum{
                font-size: 15px;
            }

            .nameme{
                font-size: 15px;
                background: lightgreen;
                color: black;
            }
        }

        .dropSet{
            right: 10px;
        }
    }
}